#wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-repeat: repeat-x;
    background-color: #DDDDDD;
}

#content {
    position: relative;
    padding: 0;
    width: 600px;
    height: 400px;
    top: 50%;
    left: 50%;
    margin-top: -200px;
    margin-left: -300px;
    text-align: center;

    opacity:0.9;
    filter:alpha(opacity=90);

    background-image: url(../image/background2.jpg);

    border: 1px solid #555555;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -ms-border-radius: 6px;
    -khtml-border-radius: 6px;
}

.disable {
    opacity:0.4;
    filter:alpha(opacity=40);
}

.clickable {
    cursor:pointer;
}

.container {
    top: 40px;
    bottom: 0px;
}

.webspecEditor {
    margin: 0;
    padding: 0;
    width: 80%;
    height: 100%;
    position: absolute;
    top: 40px;
    left: 20%;
    
    border-left-style: solid !important;
    border-left-color: #111111 !important;
    border-left-width: 0px !important;
    border-top-style: solid !important;
    border-top-color: #111111 !important;
    border-top-width: 0px !important;
}

.topMenu {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 10%;
}

.leftMenu {
    position: absolute;
    top: 60px;
    left: 10px;
    width: 20%;
    bottom: 0px;
}

.socialLoginPanel {
    width: 100%;
    height: 64px;
    position: absolute;
    vertical-align: middle;
    bottom: 0px;
}

.socialLoginPanel form {
    display: inline;
}

.masthead h1, .masthead p {
    text-align: center;
}

body {
    background-color: white;
    background-image: url(../image/grid-18px-masked.png);
    background-repeat: repeat-x;
    background-position: 0 40px;
    width:100%;
}