<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>
<!--
   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="webspecplugin.webspecmodel.presentation.WebspecmodelModelWizardID"
            name="%_UI_WebspecmodelModelWizard_label"
            class="webspecplugin.webspecmodel.presentation.WebspecmodelModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/WebspecmodelModelFile.gif">
         <description>%_UI_WebspecmodelModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>
-->
   <extension point="org.eclipse.ui.editors">
      <editor
            id="webspecplugin.webspecmodel.presentation.WebspecmodelEditorID"
            name="%_UI_WebspecmodelEditor_label"
            icon="icons/full/obj16/WebspecmodelModelFile.gif"
            extensions="webspecmodel"
            class="webspecplugin.webspecmodel.presentation.WebspecmodelEditor"
            contributorClass="webspecplugin.webspecmodel.presentation.WebspecmodelActionBarContributor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="WebSpecPlugin.editor.commands.category"
            name="WebSpec">
      </category>
      <command
            categoryId="WebSpecPlugin.editor.commands.category"
            id="WebSpecPlugin.editor.commands.validateCommand"
            name="Validate">
      </command>
      <command
            categoryId="WebSpecPlugin.editor.commands.category"
            id="WebSpecPlugin.editor.commands.generateTestsCommand"
            name="Generate tests">
      </command>
      <command
            id="WebSpecPlugin.editor.commands.startSeleniumServerCommand"
            name="Start selenium server">
      </command>
      <command
            id="WebSpecPlugin.editor.commands.stopSeleniumServerCommand"
            name="Stop selenium server">
      </command>
      <command
            id="WebSpecPlugin.editor.commands.convertLabelIntoLinkCommand"
            name="Convert label into link">
      </command>
      <command
            id="WebSpecPlugin.editor.commands.addProcessingInteractionCommand"
            name="Add processing interaction">
      </command>
      <command
            id="WebSpecPlugin.editor.commands.mergeInteractionsCommand"
            name="Merge interactions">
      </command>
      <command
            id="WebSpecPlugin.editor.commands.splitInteractionCommand"
            name="Split Interaction">
      </command>
      <command
            id="WebSpecPlugin.editor.commands.autocompleteCommand"
            name="Make autocomplete field">
      </command>
      <command
            id="WebSpecPlugin.editor.commands.hoverDetailCommand"
            name="Add hover detail">
      </command>
      <command
            id="WebSpecPlugin.editor.commands.simulateCommand"
            name="Simulate">
      </command>
      <command
            id="WebSpecPlugin.editor.commands.runGWTEffectHandlerCommand"
            name="Run GWT effect handler">
      </command>
      <command
            id="WebSpecPlugin.editor.commands.startStopRecordingCommand"
            name="Start/Stop recording">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="webspecplugin.editor.handlers.ValidateHandler"
            commandId="WebSpecPlugin.editor.commands.validateCommand">
      </handler>
      <handler
            class="webspecplugin.editor.handlers.GenerateTestsHandler"
            commandId="WebSpecPlugin.editor.commands.generateTestsCommand">
      </handler>
      <handler
            class="webspecplugin.editor.handlers.StartSeleniumServerHandler"
            commandId="WebSpecPlugin.editor.commands.startSeleniumServerCommand">
      </handler>
      <handler
            class="webspecplugin.editor.handlers.StopSeleniumServerHandler"
            commandId="WebSpecPlugin.editor.commands.stopSeleniumServerCommand">
      </handler>
      <handler
            class="webspecplugin.editor.handlers.ConvertLabelIntoLinkHandler"
            commandId="WebSpecPlugin.editor.commands.convertLabelIntoLinkCommand">
      </handler>
      <handler
            class="webspecplugin.editor.handlers.AddProcessingInteractionHandler"
            commandId="WebSpecPlugin.editor.commands.addProcessingInteractionCommand">
      </handler>
      <handler
            class="webspecplugin.editor.handlers.MergeInteractionsHandler"
            commandId="WebSpecPlugin.editor.commands.mergeInteractionsCommand">
      </handler>
      <handler
            class="webspecplugin.editor.handlers.SplitInteractionHandler"
            commandId="WebSpecPlugin.editor.commands.splitInteractionCommand">
      </handler>
      <handler
            class="webspecplugin.editor.handlers.AutocompleteHandler"
            commandId="WebSpecPlugin.editor.commands.autocompleteCommand">
      </handler>
      <handler
            class="webspecplugin.editor.handlers.HoverDetailHandler"
            commandId="WebSpecPlugin.editor.commands.hoverDetailCommand">
      </handler>
      <handler
            class="webspecplugin.editor.handlers.SimulateHandler"
            commandId="WebSpecPlugin.editor.commands.simulateCommand">
      </handler>
      <handler
            class="webspecplugin.editor.handlers.GWTEffectHandler"
            commandId="WebSpecPlugin.editor.commands.runGWTEffectHandlerCommand">
      </handler>
      <handler
            class="webspecplugin.editor.handlers.StartStopRecordingHandler"
            commandId="WebSpecPlugin.editor.commands.startStopRecordingCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="WebSpecPlugin.editor.commands.validateCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+6">
      </key>
      <key
            commandId="WebSpecPlugin.editor.commands.generateTestsCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+7">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="WebSpecPlugin.editor.menus.webSpecMenu"
               label="WebSpec"
               mnemonic="M">
            <command
                  commandId="WebSpecPlugin.editor.commands.validateCommand"
                  icon="icons/full/obj16/validate.gif"
                  id="WebSpecPlugin.editor.menus.validateCommand"
                  mnemonic="V"
                  tooltip="Validate">
            </command>
            <command
                  commandId="WebSpecPlugin.editor.commands.generateTestsCommand"
                  icon="icons/full/obj16/generate.gif"
                  id="WebSpecPlugin.editor.menus.generateTestsCommand"
                  mnemonic="G"
                  tooltip="Generate tests">
            </command>
            <command
                  commandId="WebSpecPlugin.editor.commands.simulateCommand"
                  id="WebSpecPlugin.editor.menus.simulateCommand"
                  mnemonic="S"
                  style="push"
                  tooltip="Simulate">
            </command>
            <separator
                  name="WebSpecPlugin.editor.separator1"
                  visible="true">
            </separator>
            <menu
                  label="Selenium">
               <command
                     commandId="WebSpecPlugin.editor.commands.startSeleniumServerCommand"
                     id="WebSpecPlugin.editor.menus.startSeleniumServerCommand"
                     mnemonic="S"
                     tooltip="Start selenium server">
               </command>
               <command
                     commandId="WebSpecPlugin.editor.commands.stopSeleniumServerCommand"
                     id="WebSpecPlugin.editor.menus.stopSeleniumServerCommand"
                     mnemonic="Y"
                     tooltip="Stop selenium server">
               </command>
            </menu>
            <separator
                  name="WebSpecPlugin.editor.separator2"
                  visible="true">
            </separator>
            <menu
                  label="Refactor">
               <command
                     commandId="WebSpecPlugin.editor.commands.addProcessingInteractionCommand"
                     id="WebSpecPlugin.editor.menus.addProcessingInteraction"
                     label="Add processing interaction"
                     mnemonic="A"
                     tooltip="Add processing interaction">
               </command>
               <command
                     commandId="WebSpecPlugin.editor.commands.convertLabelIntoLinkCommand"
                     id="WebSpecPlugin.editor.menus.convertLabelIntoLink"
                     label="Convert label into link"
                     mnemonic="C"
                     tooltip="Convert label into link">
               </command>
               <command
                     commandId="WebSpecPlugin.editor.commands.mergeInteractionsCommand"
                     id="WebSpecPlugin.editor.menus.mergeInteractions"
                     label="Merge interactions"
                     mnemonic="M"
                     tooltip="Merge interactions">
               </command>
               <command
                     commandId="WebSpecPlugin.editor.commands.splitInteractionCommand"
                     id="WebSpecPlugin.editor.menus.splitInteraction"
                     label="Split Interaction"
                     mnemonic="S"
                     tooltip="Split Interaction">
               </command>
            </menu>
            <menu
                  label="RIA">
               <command
                     commandId="WebSpecPlugin.editor.commands.autocompleteCommand"
                     id="WebSpecPlugin.editor.menus.autocomplete"
                     label="Make autocomplete field"
                     style="push"
                     tooltip="Make autocomplete field">
               </command>
               <command
                     commandId="WebSpecPlugin.editor.commands.hoverDetailCommand"
                     id="WebSpecPlugin.editor.menus.hoverDetail"
                     label="Add hover detail"
                     style="push"
                     tooltip="Add hover detail">
               </command>
            </menu>
            <separator
                  name="WebSpecPlugin.editor.separator3"
                  visible="true">
            </separator>
            <command
                  commandId="WebSpecPlugin.editor.commands.runGWTEffectHandlerCommand"
                  id="WebSpecPlugin.editor.menus.runGWTEffectHandler"
                  label="Run GWT effect handler"
                  tooltip="Run GWT effect handler">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="WebSpecPlugin.editor.toolbars.webSpecToolbar">
            <command
                  commandId="WebSpecPlugin.editor.commands.validateCommand"
                  icon="icons/full/obj16/validate.gif"
                  id="WebSpecPlugin.editor.toolbars.validateCommand"
                  tooltip="Validate">
            </command>
            <command
                  commandId="WebSpecPlugin.editor.commands.generateTestsCommand"
                  icon="icons/full/obj16/generate.gif"
                  id="WebSpecPlugin.editor.toolbars.generateTestsCommand"
                  tooltip="Generate tests">
            </command>
            <separator
                  name="WebSpecPlugin.editor.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="WebSpecPlugin.editor.commands.startStopRecordingCommand"
                  icon="icons/full/obj16/startRecording.gif"
                  id="WebSpecPlugin.editor.toolbars.startStopRecordingCommand"
                  tooltip="Start recording">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="WebSpecPlugin.editor.contribution1"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               id="WebSpecPlugin.editor.webSpecMenu"
               label="WebSpec"
               path="additions">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               class="webspecplugin.editor.popup.actions.ValidateAction"
               enablesFor="+"
               icon="icons/full/obj16/validate.gif"
               id="WebSpecPlugin.editor.validateAction"
               label="Validate"
               menubarPath="WebSpecPlugin.editor.webSpecMenu/group1">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.jdt.core.classpathVariableInitializer">
      <classpathVariableInitializer
            class="webspecplugin.editor.ClasspathVariableInitializer1"
            variable="WebSpecPlugin.editor.classpathVariableInitializer1">
      </classpathVariableInitializer>
   </extension>

</plugin>
