<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension point="org.eclipse.team.core.fileTypes" id="repo-ftype">
      <?gmfgen generated="true"?>
      <fileTypes type="text" extension="webspecmodel_diagram"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser" id="resource-factory">
      <?gmfgen generated="true"?>
      <parser
         type="webspecmodel_diagram"
         class="org.eclipse.gmf.runtime.emf.core.resources.GMFResourceFactory">
      </parser>
   </extension>

   <extension point="org.eclipse.ui.editors" id="gmf-editor">
      <?gmfgen generated="true"?>
      <editor
         id="webspecplugin.webspecmodel.diagram.part.WebspecmodelDiagramEditorID"
         name="%editorName"
         icon="icons/obj16/WebspecmodelDiagramFile.gif"
         extensions="webspecmodel_diagram"
         default="true"
         class="webspecplugin.webspecmodel.diagram.part.WebspecmodelDiagramEditor"
         matchingStrategy="webspecplugin.webspecmodel.diagram.part.WebspecmodelMatchingStrategy"
         contributorClass="webspecplugin.webspecmodel.diagram.part.WebspecmodelDiagramActionBarContributor">
      </editor>
   </extension>
   
   <extension point="org.eclipse.ui.contexts" id="ui-context">
      <?gmfgen generated="true"?>
      <context
         description="%context.description"
         id="webspecplugin.webspecmodel.diagram.ui.diagramContext"
         name="%context.name"
         parentId="org.eclipse.gmf.runtime.diagram.ui.diagramContext">
      </context>
   </extension>

   <extension point="org.eclipse.ui.newWizards" id="creation-wizard">
      <?gmfgen generated="true"?>
  	  <wizard
  	     name="%newWizardName"
  	     icon="icons/obj16/WebspecmodelDiagramFile.gif"
  	     category="org.eclipse.ui.Examples"
  	     class="webspecplugin.webspecmodel.diagram.part.WebspecmodelCreationWizard"
  	     id="webspecplugin.webspecmodel.diagram.part.WebspecmodelCreationWizardID">
  	  	 <description>%newWizardDesc</description>  
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.popupMenus" id="init-diagram-action">
      <?gmfgen generated="true"?>
      <objectContribution
            id="WebSpecPlugin.diagram.InitDiagram"
            nameFilter="*.webspecmodel"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               label="%initDiagramActionLabel"
               class="webspecplugin.webspecmodel.diagram.part.WebspecmodelInitDiagramFileAction"
               menubarPath="additions"
               enablesFor="1"
               id="WebSpecPlugin.diagram.InitDiagramAction">
         </action>
      </objectContribution>
   </extension>

   	
   <extension point="org.eclipse.gmf.runtime.common.ui.services.action.globalActionHandlerProviders" id="global-actions">
      <?gmfgen generated="true"?>
      <GlobalActionHandlerProvider
         class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramGlobalActionHandlerProvider"
         id="WebspecmodelPresentation">
         <Priority name="Lowest"/>
         <ViewId id="webspecplugin.webspecmodel.diagram.part.WebspecmodelDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="delete"/>
            </ElementType>
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.DiagramEditPart">
               <GlobalActionId actionId="save"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
      <GlobalActionHandlerProvider
         class="org.eclipse.gmf.runtime.diagram.ui.providers.ide.providers.DiagramIDEGlobalActionHandlerProvider"
         id="WebspecmodelPresentationIDE">
         <Priority name="Lowest"/>
         <ViewId id="webspecplugin.webspecmodel.diagram.part.WebspecmodelDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="bookmark"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
      <GlobalActionHandlerProvider
            class="org.eclipse.gmf.runtime.diagram.ui.render.providers.DiagramUIRenderGlobalActionHandlerProvider"
            id="WebspecmodelRender">
         <Priority name="Lowest"/>
         <ViewId id="webspecplugin.webspecmodel.diagram.part.WebspecmodelDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="cut"/>
               <GlobalActionId actionId="copy"/>
               <GlobalActionId actionId="paste"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
   </extension>


   <extension point="org.eclipse.core.runtime.preferences" id="prefs">
      <?gmfgen generated="true"?>
      <initializer class="webspecplugin.webspecmodel.diagram.preferences.DiagramPreferenceInitializer"/>
   </extension>

   <extension point="org.eclipse.ui.preferencePages" id="prefpages">
      <?gmfgen generated="true"?>
      <page
            id="WebSpecPlugin.diagram.general"
            name="%prefpage.WebSpecPlugin.diagram.general"
            class="webspecplugin.webspecmodel.diagram.preferences.DiagramGeneralPreferencePage">
      </page>
      <page
            id="WebSpecPlugin.diagram.appearance"
            name="%prefpage.WebSpecPlugin.diagram.appearance"
            category="WebSpecPlugin.diagram.general"
            class="webspecplugin.webspecmodel.diagram.preferences.DiagramAppearancePreferencePage">
      </page>
      <page
            id="WebSpecPlugin.diagram.connections"
            name="%prefpage.WebSpecPlugin.diagram.connections"
            category="WebSpecPlugin.diagram.general"
            class="webspecplugin.webspecmodel.diagram.preferences.DiagramConnectionsPreferencePage">
      </page>
      <page
            id="WebSpecPlugin.diagram.printing"
            name="%prefpage.WebSpecPlugin.diagram.printing"
            category="WebSpecPlugin.diagram.general"
            class="webspecplugin.webspecmodel.diagram.preferences.DiagramPrintingPreferencePage">
      </page>
      <page
            id="WebSpecPlugin.diagram.rulersAndGrid"
            name="%prefpage.WebSpecPlugin.diagram.rulersAndGrid"
            category="WebSpecPlugin.diagram.general"
            class="webspecplugin.webspecmodel.diagram.preferences.DiagramRulersAndGridPreferencePage">
      </page>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertyContributor" id="prop-contrib">
      <?gmfgen generated="true"?>
      <propertyContributor
            contributorId="WebSpecPlugin.diagram"
            labelProvider="webspecplugin.webspecmodel.diagram.sheet.WebspecmodelSheetLabelProvider">
         <propertyCategory category="domain"/>
         <propertyCategory category="visual"/>
         <propertyCategory category="extra"/>
      </propertyContributor>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertyTabs" id="proptabs">
      <?gmfgen generated="true"?>   
      <propertyTabs contributorId="WebSpecPlugin.diagram">
         <propertyTab
             category="visual"
             id="property.tab.AppearancePropertySection"
             label="%tab.appearance"/>
          <propertyTab
             category="visual"
             id="property.tab.DiagramPropertySection"
             label="%tab.diagram"/>
          <propertyTab
             category="domain"
             id="property.tab.domain"
             label="%tab.domain"/>
      </propertyTabs>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections" id="propsections">
      <?gmfgen generated="true"?>   
      <propertySections contributorId="WebSpecPlugin.diagram">
         <propertySection id="property.section.ConnectorAppearancePropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.ConnectionEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.ConnectionAppearancePropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection>
         <propertySection id="property.section.ShapeColorAndFontPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.ShapeEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.ShapeColorsAndFontsPropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection> 
         <propertySection id="property.section.DiagramColorsAndFontsPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.DiagramEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.DiagramColorsAndFontsPropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection>     
         <propertySection id="property.section.RulerGridPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.DiagramEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.grid.RulerGridPropertySection" 
            tab="property.tab.DiagramPropertySection">
         </propertySection>     
         <propertySection
            id="property.section.domain" 
            tab="property.tab.domain"
            class="webspecplugin.webspecmodel.diagram.sheet.WebspecmodelPropertySection">
            <input type="org.eclipse.gmf.runtime.notation.View"/>
            <input type="org.eclipse.gef.EditPart"/>
            <input type="webspecplugin.webspecmodel.diagram.navigator.WebspecmodelAbstractNavigatorItem"/>
         </propertySection>
      </propertySections>
   </extension>

   <extension point="org.eclipse.gmf.runtime.diagram.core.viewProviders" id="view-provider">
      <?gmfgen generated="true"?>
      <viewProvider class="webspecplugin.webspecmodel.diagram.providers.WebspecmodelViewProvider">
         <Priority name="Lowest"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Diagram" semanticHints="Webspecmodel"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Node" semanticHints="2001,2002,2003,2004,2005,2006,2007,3001,3002,3003,3004,3005,3006,3007,3008,3009,3010,3011"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Edge" semanticHints="4001,4002"/>
      </viewProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.diagram.ui.editpartProviders" id="ep-provider">
      <?gmfgen generated="true"?>
      <editpartProvider class="webspecplugin.webspecmodel.diagram.providers.WebspecmodelEditPartProvider">
         <Priority name="Lowest"/>
         <object class="org.eclipse.gmf.runtime.notation.Diagram" id="generated-diagram">
            <method name="getType()" value="Webspecmodel"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-nodes">
            <method name="getType()" value="2001,2002,2003,2004,2005,2006,2007,3001,3002,3003,3004,3005,3006,3007,3008,3009,3010,3011"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Edge" id="generated-links">
            <method name="getType()" value="4001,4002"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-labels">
            <method name="getType()" value="5009,5010,5011,5012,5013,5014,5015,5001,5002,5003,5004,5005,5006,5007,5008"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-compartments">
            <method name="getType()" value="7001,7002,7003"/>
         </object>
         <context views="generated-diagram,generated-nodes,generated-links,generated-labels,generated-compartments"/>
      </editpartProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.ui.modelingAssistantProviders" id="modelassist-provider">
      <?gmfgen generated="true"?>
      <modelingAssistantProvider class="webspecplugin.webspecmodel.diagram.providers.WebspecmodelModelingAssistantProvider">
         <Priority name="Lowest"/>
         <object class="webspecplugin.webspecmodel.diagram.edit.parts.DiagramEditPart" id="Diagram_1000"/>
         <object class="webspecplugin.webspecmodel.diagram.edit.parts.InteractionEditPart" id="Interaction_2001"/>
         <object class="webspecplugin.webspecmodel.diagram.edit.parts.OneOfNumbersEditPart" id="OneOfNumbers_2002"/>
         <object class="webspecplugin.webspecmodel.diagram.edit.parts.OneOfStringsEditPart" id="OneOfStrings_2003"/>
         <object class="webspecplugin.webspecmodel.diagram.edit.parts.UniformNumberDistributionEditPart" id="UniformNumberDistribution_2004"/>
         <object class="webspecplugin.webspecmodel.diagram.edit.parts.OneOfArrayEditPart" id="OneOfArray_2005"/>
         <object class="webspecplugin.webspecmodel.diagram.edit.parts.StringGeneratorEditPart" id="StringGenerator_2006"/>
         <object class="webspecplugin.webspecmodel.diagram.edit.parts.RIAFeatureEditPart" id="RIAFeature_2007"/>
         <context elements="Diagram_1000,Interaction_2001,OneOfNumbers_2002,OneOfStrings_2003,UniformNumberDistribution_2004,OneOfArray_2005,StringGenerator_2006,RIAFeature_2007"/>
      </modelingAssistantProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.common.ui.services.iconProviders" id="icon-provider">
      <?gmfgen generated="true"?>
      <IconProvider class="webspecplugin.webspecmodel.diagram.providers.WebspecmodelIconProvider">
         <Priority name="Low"/>
      </IconProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.common.ui.services.parserProviders" id="parser-provider">
      <?gmfgen generated="true"?>
      <ParserProvider class="webspecplugin.webspecmodel.diagram.providers.WebspecmodelParserProvider">
         <Priority name="Lowest"/>
      </ParserProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.type.core.elementTypes" id="element-types">
      <?gmfgen generated="true"?>
      <metamodel nsURI="ar.edu.unlp.info.lifia.webspec">
         <metamodelType
               id="WebSpecPlugin.diagram.Diagram_1000"
               name="%metatype.name.Diagram_1000"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Diagram"
               edithelper="webspecplugin.webspecmodel.diagram.edit.helpers.DiagramEditHelper">
            <param name="semanticHint" value="1000"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="ar.edu.unlp.info.lifia.webspec">
         <metamodelType
               id="WebSpecPlugin.diagram.Interaction_2001"
               name="%metatype.name.Interaction_2001"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Interaction"
               edithelper="webspecplugin.webspecmodel.diagram.edit.helpers.InteractionEditHelper">
            <param name="semanticHint" value="2001"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="ar.edu.unlp.info.lifia.webspec">
         <metamodelType
               id="WebSpecPlugin.diagram.OneOfNumbers_2002"
               name="%metatype.name.OneOfNumbers_2002"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="OneOfNumbers"
               edithelper="webspecplugin.webspecmodel.diagram.edit.helpers.OneOfNumbersEditHelper">
            <param name="semanticHint" value="2002"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="ar.edu.unlp.info.lifia.webspec">
         <metamodelType
               id="WebSpecPlugin.diagram.OneOfStrings_2003"
               name="%metatype.name.OneOfStrings_2003"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="OneOfStrings"
               edithelper="webspecplugin.webspecmodel.diagram.edit.helpers.OneOfStringsEditHelper">
            <param name="semanticHint" value="2003"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="ar.edu.unlp.info.lifia.webspec">
         <metamodelType
               id="WebSpecPlugin.diagram.UniformNumberDistribution_2004"
               name="%metatype.name.UniformNumberDistribution_2004"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="UniformNumberDistribution"
               edithelper="webspecplugin.webspecmodel.diagram.edit.helpers.UniformNumberDistributionEditHelper">
            <param name="semanticHint" value="2004"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="ar.edu.unlp.info.lifia.webspec">
         <metamodelType
               id="WebSpecPlugin.diagram.OneOfArray_2005"
               name="%metatype.name.OneOfArray_2005"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="OneOfArray"
               edithelper="webspecplugin.webspecmodel.diagram.edit.helpers.OneOfArrayEditHelper">
            <param name="semanticHint" value="2005"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="ar.edu.unlp.info.lifia.webspec">
         <metamodelType
               id="WebSpecPlugin.diagram.StringGenerator_2006"
               name="%metatype.name.StringGenerator_2006"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="StringGenerator"
               edithelper="webspecplugin.webspecmodel.diagram.edit.helpers.StringGeneratorEditHelper">
            <param name="semanticHint" value="2006"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="ar.edu.unlp.info.lifia.webspec">
         <metamodelType
               id="WebSpecPlugin.diagram.RIAFeature_2007"
               name="%metatype.name.RIAFeature_2007"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="RIAFeature"
               edithelper="webspecplugin.webspecmodel.diagram.edit.helpers.RIAFeatureEditHelper">
            <param name="semanticHint" value="2007"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="ar.edu.unlp.info.lifia.webspec">
         <metamodelType
               id="WebSpecPlugin.diagram.PanelContainer_3001"
               name="%metatype.name.PanelContainer_3001"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="PanelContainer"
               edithelper="webspecplugin.webspecmodel.diagram.edit.helpers.PanelContainerEditHelper">
            <param name="semanticHint" value="3001"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="ar.edu.unlp.info.lifia.webspec">
         <metamodelType
               id="WebSpecPlugin.diagram.Button_3002"
               name="%metatype.name.Button_3002"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Button"
               edithelper="webspecplugin.webspecmodel.diagram.edit.helpers.ButtonEditHelper">
            <param name="semanticHint" value="3002"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="ar.edu.unlp.info.lifia.webspec">
         <metamodelType
               id="WebSpecPlugin.diagram.CheckBox_3003"
               name="%metatype.name.CheckBox_3003"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="CheckBox"
               edithelper="webspecplugin.webspecmodel.diagram.edit.helpers.CheckBoxEditHelper">
            <param name="semanticHint" value="3003"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="ar.edu.unlp.info.lifia.webspec">
         <metamodelType
               id="WebSpecPlugin.diagram.ComboBox_3004"
               name="%metatype.name.ComboBox_3004"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="ComboBox"
               edithelper="webspecplugin.webspecmodel.diagram.edit.helpers.ComboBoxEditHelper">
            <param name="semanticHint" value="3004"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="ar.edu.unlp.info.lifia.webspec">
         <metamodelType
               id="WebSpecPlugin.diagram.Label_3005"
               name="%metatype.name.Label_3005"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Label"
               edithelper="webspecplugin.webspecmodel.diagram.edit.helpers.LabelEditHelper">
            <param name="semanticHint" value="3005"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="ar.edu.unlp.info.lifia.webspec">
         <metamodelType
               id="WebSpecPlugin.diagram.Link_3006"
               name="%metatype.name.Link_3006"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Link"
               edithelper="webspecplugin.webspecmodel.diagram.edit.helpers.LinkEditHelper">
            <param name="semanticHint" value="3006"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="ar.edu.unlp.info.lifia.webspec">
         <metamodelType
               id="WebSpecPlugin.diagram.ListBox_3007"
               name="%metatype.name.ListBox_3007"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="ListBox"
               edithelper="webspecplugin.webspecmodel.diagram.edit.helpers.ListBoxEditHelper">
            <param name="semanticHint" value="3007"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="ar.edu.unlp.info.lifia.webspec">
         <metamodelType
               id="WebSpecPlugin.diagram.RadioButton_3008"
               name="%metatype.name.RadioButton_3008"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="RadioButton"
               edithelper="webspecplugin.webspecmodel.diagram.edit.helpers.RadioButtonEditHelper">
            <param name="semanticHint" value="3008"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="ar.edu.unlp.info.lifia.webspec">
         <metamodelType
               id="WebSpecPlugin.diagram.TextField_3009"
               name="%metatype.name.TextField_3009"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="TextField"
               edithelper="webspecplugin.webspecmodel.diagram.edit.helpers.TextFieldEditHelper">
            <param name="semanticHint" value="3009"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="ar.edu.unlp.info.lifia.webspec">
         <specializationType
               id="WebSpecPlugin.diagram.PanelContainer_3010"
               name="%metatype.name.PanelContainer_3010"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="WebSpecPlugin.diagram.PanelContainer_3001"/>
            <param name="semanticHint" value="3010"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="ar.edu.unlp.info.lifia.webspec">
         <metamodelType
               id="WebSpecPlugin.diagram.ListOfContainer_3011"
               name="%metatype.name.ListOfContainer_3011"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="ListOfContainer"
               edithelper="webspecplugin.webspecmodel.diagram.edit.helpers.ListOfContainerEditHelper">
            <param name="semanticHint" value="3011"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="ar.edu.unlp.info.lifia.webspec">
         <metamodelType
               id="WebSpecPlugin.diagram.Navigation_4001"
               name="%metatype.name.Navigation_4001"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Navigation"
               edithelper="webspecplugin.webspecmodel.diagram.edit.helpers.NavigationEditHelper">
            <param name="semanticHint" value="4001"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="ar.edu.unlp.info.lifia.webspec">
         <metamodelType
               id="WebSpecPlugin.diagram.RichBehavior_4002"
               name="%metatype.name.RichBehavior_4002"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="RichBehavior"
               edithelper="webspecplugin.webspecmodel.diagram.edit.helpers.RichBehaviorEditHelper">
            <param name="semanticHint" value="4002"/>
         </metamodelType>
      </metamodel>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.type.core.elementTypeBindings" id="element-types-bindings">
      <?gmfgen generated="true"?>
      <clientContext id="WebSpecPlugin.diagram.TypeContext">
         <enablement>
            <test
               property="org.eclipse.gmf.runtime.emf.core.editingDomain"
               value="WebSpecPlugin.diagram.EditingDomain"/>
         </enablement>
      </clientContext> 
      <binding context="WebSpecPlugin.diagram.TypeContext">
         <elementType ref="WebSpecPlugin.diagram.Diagram_1000"/>
         <elementType ref="WebSpecPlugin.diagram.Interaction_2001"/>
         <elementType ref="WebSpecPlugin.diagram.OneOfNumbers_2002"/>
         <elementType ref="WebSpecPlugin.diagram.OneOfStrings_2003"/>
         <elementType ref="WebSpecPlugin.diagram.UniformNumberDistribution_2004"/>
         <elementType ref="WebSpecPlugin.diagram.OneOfArray_2005"/>
         <elementType ref="WebSpecPlugin.diagram.StringGenerator_2006"/>
         <elementType ref="WebSpecPlugin.diagram.RIAFeature_2007"/>
         <elementType ref="WebSpecPlugin.diagram.PanelContainer_3001"/>
         <elementType ref="WebSpecPlugin.diagram.Button_3002"/>
         <elementType ref="WebSpecPlugin.diagram.CheckBox_3003"/>
         <elementType ref="WebSpecPlugin.diagram.ComboBox_3004"/>
         <elementType ref="WebSpecPlugin.diagram.Label_3005"/>
         <elementType ref="WebSpecPlugin.diagram.Link_3006"/>
         <elementType ref="WebSpecPlugin.diagram.ListBox_3007"/>
         <elementType ref="WebSpecPlugin.diagram.RadioButton_3008"/>
         <elementType ref="WebSpecPlugin.diagram.TextField_3009"/>
         <elementType ref="WebSpecPlugin.diagram.PanelContainer_3010"/>
         <elementType ref="WebSpecPlugin.diagram.ListOfContainer_3011"/>
         <elementType ref="WebSpecPlugin.diagram.Navigation_4001"/>
         <elementType ref="WebSpecPlugin.diagram.RichBehavior_4002"/>
         <advice ref="org.eclipse.gmf.runtime.diagram.core.advice.notationDepdendents"/>
      </binding>
   </extension>
   <extension point="org.eclipse.ui.commands" id="update-cmd">
      <?gmfgen generated="true"?>
      <command
         categoryId="org.eclipse.ui.category.edit"
         defaultHandler="webspecplugin.webspecmodel.diagram.part.WebspecmodelDiagramUpdateCommand"
         description="%update.diagram.description"
         id="webspecplugin.webspecmodel.diagram.updateDiagram"
         name="%update.diagram.name"/>
   </extension>
   
   <extension point="org.eclipse.ui.bindings" id="update-cmd-binding">
      <?gmfgen generated="true"?>
      <key 
         commandId="webspecplugin.webspecmodel.diagram.updateDiagram"
         contextId="webspecplugin.webspecmodel.diagram.ui.diagramContext"
         schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
         sequence="F5"/>
   </extension>
<extension point="org.eclipse.core.expressions.propertyTesters" id="navigator-proptest.isURIEditorInput">
      <?gmfgen generated="true"?>
       <propertyTester
           id="WebSpecPlugin.diagram.URIEditorInputPropertyTester"
           type="org.eclipse.emf.common.ui.URIEditorInput"
           namespace="WebSpecPlugin.diagram"
           properties="isURIEditorInput"
           class="webspecplugin.webspecmodel.diagram.part.WebspecmodelUriEditorInputTester">
       </propertyTester>
   </extension>
<extension point="org.eclipse.ui.navigator.viewer" id="navigator-viewbinding">
      <?gmfgen generated="true"?>
      <viewerContentBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <contentExtension pattern="WebSpecPlugin.diagram.resourceContent"/>
			<contentExtension pattern="WebSpecPlugin.diagram.domainResourceContent"/>
            <contentExtension pattern="WebSpecPlugin.diagram.navigatorLinkHelper"/>
         </includes>
      </viewerContentBinding>
      <viewerActionBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <actionExtension pattern="WebSpecPlugin.diagram.navigatorActionProvider"/>
         </includes>
      </viewerActionBinding>
   </extension>
<extension point="org.eclipse.ui.navigator.navigatorContent" id="navigator-content">
      <?gmfgen generated="true"?>
      <navigatorContent
            id="WebSpecPlugin.diagram.resourceContent" 
            name="%navigatorContentName" 
            priority="normal" 
            contentProvider="webspecplugin.webspecmodel.diagram.navigator.WebspecmodelNavigatorContentProvider" 
            labelProvider="webspecplugin.webspecmodel.diagram.navigator.WebspecmodelNavigatorLabelProvider"
            icon="icons/obj16/WebspecmodelDiagramFile.gif"
            activeByDefault="true">
         <triggerPoints>
            <or>
	           <and>
    	          <instanceof value="org.eclipse.core.resources.IFile"/>
        	      <test property="org.eclipse.core.resources.extension" value="webspecmodel_diagram"/>
               </and>
               <instanceof value="webspecplugin.webspecmodel.diagram.navigator.WebspecmodelAbstractNavigatorItem"/>
            </or>
         </triggerPoints>
         <possibleChildren>
            <or>
         	   <instanceof value="webspecplugin.webspecmodel.diagram.navigator.WebspecmodelAbstractNavigatorItem"/>
            </or>
         </possibleChildren>
         <commonSorter 
               id="WebSpecPlugin.diagram.navigatorSorter" 
               class="webspecplugin.webspecmodel.diagram.navigator.WebspecmodelNavigatorSorter">
            <parentExpression>
               <or>
	              <and>
    	             <instanceof value="org.eclipse.core.resources.IFile"/>
        	         <test property="org.eclipse.core.resources.extension" value="webspecmodel_diagram"/>
                  </and>
                  <instanceof value="webspecplugin.webspecmodel.diagram.navigator.WebspecmodelAbstractNavigatorItem"/>
               </or>
            </parentExpression>
         </commonSorter>
      </navigatorContent>
      <navigatorContent
            id="WebSpecPlugin.diagram.domainResourceContent" 
            name="%domainNavigatorContentName" 
            priority="normal" 
            contentProvider="webspecplugin.webspecmodel.diagram.navigator.WebspecmodelDomainNavigatorContentProvider" 
            labelProvider="webspecplugin.webspecmodel.diagram.navigator.WebspecmodelDomainNavigatorLabelProvider"
            icon="icons/obj16/WebspecmodelDiagramFile.gif"
            activeByDefault="true">
         <triggerPoints>
            <or>
	           <and>
    	          <instanceof value="org.eclipse.core.resources.IFile"/>
        	      <test property="org.eclipse.core.resources.extension" value="webspecmodel"/>
               </and>
               <instanceof value="webspecplugin.webspecmodel.diagram.navigator.WebspecmodelDomainNavigatorItem"/>
            </or>
         </triggerPoints>
         <possibleChildren>
            <instanceof value="webspecplugin.webspecmodel.diagram.navigator.WebspecmodelDomainNavigatorItem"/>
         </possibleChildren>
      </navigatorContent>
      <actionProvider
            id="WebSpecPlugin.diagram.navigatorActionProvider"
            class="webspecplugin.webspecmodel.diagram.navigator.WebspecmodelNavigatorActionProvider">
         <enablement>
            <or>
               <instanceof value="webspecplugin.webspecmodel.diagram.navigator.WebspecmodelAbstractNavigatorItem"/>
            </or>
         </enablement>
      </actionProvider>
   </extension>
<extension point="org.eclipse.ui.navigator.linkHelper" id="navigator-linkhelper">
      <?gmfgen generated="true"?>
      <linkHelper
            id="WebSpecPlugin.diagram.navigatorLinkHelper"
            class="webspecplugin.webspecmodel.diagram.navigator.WebspecmodelNavigatorLinkHelper">
         <editorInputEnablement>
            <and>
               <instanceof value="org.eclipse.emf.common.ui.URIEditorInput"/>
               <test property="WebSpecPlugin.diagram.isURIEditorInput"/>
            </and>
         </editorInputEnablement>
         <selectionEnablement>
            <instanceof value="webspecplugin.webspecmodel.diagram.navigator.WebspecmodelAbstractNavigatorItem"/>
         </selectionEnablement>
      </linkHelper>
   </extension>
<extension point="org.eclipse.ui.menus" id="context-menus">
      <?gmfgen generated="true"?>
      <!-- menuContribution locationURI="menu:org.eclipse.ui.main.menu?after=">
      </menuContribution>
      <menuContribution locationURI="toolbar:org.eclipse.ui.main.toolbar?after=">
      </menuContribution -->
      <menuContribution locationURI="popup:org.eclipse.gmf.runtime.diagram.ui.DiagramEditorContextMenu">
         <command commandId="WebSpecPlugin.diagram.LoadResourceAction">
            <visibleWhen>
               <and>
                  <with variable="activePartId"><equals value="webspecplugin.webspecmodel.diagram.part.WebspecmodelDiagramEditorID"/></with>
                  <with variable="selection"><iterate ifEmpty="false"> 
                     <instanceof value="webspecplugin.webspecmodel.diagram.edit.parts.DiagramEditPart"/>
                  </iterate></with>
               </and>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>

<extension point="org.eclipse.ui.commands" id="menu-commands">
      <?gmfgen generated="true"?>
      <category id="webspecplugin.webspecmodel.diagram.part.WebspecmodelDiagramEditorID" name="%cmdcategory.name" description="%cmdcategory.desc"/>
      <command id="WebSpecPlugin.diagram.LoadResourceAction"
         name="Load Resource"
         categoryId="webspecplugin.webspecmodel.diagram.part.WebspecmodelDiagramEditorID"
         defaultHandler="webspecplugin.webspecmodel.diagram.part.LoadResourceAction"/>
   </extension>

<extension point="org.eclipse.ui.handlers" id="menu-handlers">
      <?gmfgen generated="true"?>
   </extension>


</plugin>
