<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:security="http://www.springframework.org/schema/security"
  xmlns:tx="http://www.springframework.org/schema/tx" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:oauth="http://www.springframework.org/schema/security/oauth2"
  xmlns:context="http://www.springframework.org/schema/context"
  xsi:schemaLocation="
          http://www.springframework.org/schema/beans  http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
          http://www.springframework.org/schema/security  http://www.springframework.org/schema/security/spring-security-3.0.xsd
          http://www.springframework.org/schema/tx  http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
          http://www.springframework.org/schema/security/oauth2 http://www.springframework.org/schema/security/spring-security-oauth2.xsd
          http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
          ">

  <bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
    <property name="sessionFactory" ref="sessionFactory" />
  </bean>
  <tx:annotation-driven transaction-manager="transactionManager" />
  
  <bean id="diagramRepository" class="org.webspeclanguage.repository.DiagramRepository">
    <constructor-arg index="0" ref="sessionFactory" />
  </bean>
  
  <bean id="diagramService" class="org.webspeclanguage.service.DiagramServiceImpl">
    <constructor-arg index="0" ref="diagramRepository" />
  </bean>
  
  <bean id="userStoryService" class="org.webspeclanguage.service.UserStoryServiceImpl">
    <constructor-arg index="0" ref="htmlGenerator" />
    <constructor-arg index="1" ref="wordEnumerationGenerator" />
    <constructor-arg index="2" ref="wordTabularGenerator" />
    <constructor-arg index="3" ref="diagramService" />
    <constructor-arg index="4" value="${diagramImageServiceURL}" />
    <constructor-arg index="5" value="${croppingServiceURL}" />
    <constructor-arg index="6" ref="cssFilePaths" />
    <constructor-arg index="7" ref="jsFilePaths" />
    <constructor-arg index="8" value="${imagesDirectoryPath}" />
  </bean>
  
  <bean id="cssFilePaths" class="java.util.ArrayList">
  	<constructor-arg>
		<list>
			<value>${userstoriesCSS}</value>
			<value>${userstoriesCommonCSS}</value>
		</list>
  	</constructor-arg>
  </bean>

  <bean id="jsFilePaths" class="java.util.ArrayList">
  	<constructor-arg>
		<list>
			<value>${userstoriesJqueryJs}</value>
			<value>${userstoriesFancyZoomJs}</value>
		</list>
  	</constructor-arg>
  </bean>

  <bean id="projectRestService" class="org.webspeclanguage.web.servlet.ProjectRestService" >
    <constructor-arg index="0" ref="diagramService" />
    <constructor-arg index="1" ref="userService" />
    <constructor-arg index="2" ref="projectService" />
    <constructor-arg index="3" ref="userStoryService" />
  </bean>

  <bean id="projectServiceTarget" class="org.webspeclanguage.service.ProjectServiceImpl">
    <constructor-arg ref="diagramRepository" />
  </bean>

  <bean id="projectService" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
    <property name="transactionManager">
      <ref bean="transactionManager" />
    </property>
    <property name="target">
      <ref bean="projectServiceTarget" />
    </property>
    <property name="proxyInterfaces" value="org.webspeclanguage.service.ProjectService" />
    <property name="transactionAttributes">
      <props>
        <prop key="*">
          PROPAGATION_REQUIRED,-java.lang.Exception
        </prop>
      </props>
    </property>
  </bean>
</beans>